*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
}

#root {
  height: 100vh;
}
.btn-trailer {
  transform: translate(-50%, -50%);
}

.grid .dv {
  border: 0.5px solid white;
}

.expo {
  grid-area: 2/2/3/4;
}
.time {
  grid-area: 2;
}
.tarif {
  grid-area: 3 / 1 / 3 / 4;
}
.total {
  grid-area: 5 / 1 / 4 / 4;
  border-top: 1px white dotted;
}

.calendar,
.creneau {
  padding-bottom: 2rem;
  border-bottom: 1px solid white;
}

.histoire {
  background-image: url("/public/assets/marieCurie-accueil.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.topBox {
  rotate: 90deg;
}

.arrow_accueil {
  rotate: 90deg;
}

@media (min-width: 1024px) {
  .creneau {
    padding-bottom: 5rem;
  }
}

@media (min-width: 1280px) {
  .creneau {
    padding-bottom: 35px;
  }
  .wrapper-cren {
    border-top: 1px solid white;
  }
}
