*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

#root {
  height: 100vh;
}

.calendar, .creneau {
  padding-bottom: 2rem;
  border-bottom: 1px solid white;
}

@media (min-width: 1024px) {
  .creneau {
    padding-bottom: 5rem;
  }

}